{% extends 'mainpage.html' %}

{% block feedback_view_for_creator %}

<div class="col-md-4">
    <ul id="user_list_menu" class="nav nav-tabs nav-stacked nav_tabs_stacked">
        <li class="" id="user_id_12">
            <a href="#">
                <span class="badge">18</span>
                <span class="pull-center">Никто</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
        <li class="" id="user_id_2">
            <a href="#">
                <span class="badge">18</span>
                <span class="pull-center">Никто</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
        <li class="active" id="user_id_1">
            <a href="#">
                <span class="badge">18</span>
                <span class="pull-center">admin</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
        <li class="" id="user_id_13">
            <a href="#">
                <span class="badge">18</span>
                <span class="pull-center">Никто</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
        <li class="" id="user_id_16">
            <a href="#">
                <span class="badge">18</span>
                <span class="pull-center">Никто</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
    </ul>
</div>


<div class="col-md-8">
    {% if not feedback_notes %}

        <center><h4>Когда-нибудь все будет работать, как должно.</h4></center>


    {% else %}

        <table id="feedback_history" class="table news_list">
            <tr>
                <td>
                    {% include "feedback_form_for_creator.html" %}
                </td>
            </tr>

            {% for note in feedback_notes %}

            <tr {% if not note.has_been_read %} class="info" {% endif %} >
                <td>
                    <div style="font-weight:bold!important">
                        <div class="pull-left">from {{ note.from_user }}</div>
                        <div class="pull-right">{{ note.feedback_date|date:"d.m.Y"}}</div>
                        <br>
                        <div class="pull-right">{{ note.feedback_date|date:"h:i:s"}}</div>
                    </div>
                    <br>
                    <div>
                        {{ note.feedback_body | linebreaksbr}}
                    </div>
                </td>
            </tr>

            {% endfor %}

        </table>
    {% endif %}
</div>

{% endblock %}