{% block feedback_visibility_button %}
        <button id="history_change_visibility" type="button" class="btn btn-default form-control" style="border-radius:0 0 4px 4px;">
        <div class="show_h">
            <span class="glyphicon glyphicon-arrow-down"></span> Показать историю <span class="glyphicon glyphicon-arrow-down"></span>
            </div>
        <div class="hide_h" style="display:none">
            <span class="glyphicon glyphicon-arrow-up"></span> Скрыть историю <span class="glyphicon glyphicon-arrow-up" ></span>
        </div>

    </button>
{% endblock %}