{% extends 'mainpage.html' %}

{% block feedback_view_for_creator %}

<div class="col-md-4">
    <ul id="user_list_menu" class="nav nav-tabs nav-stacked nav_tabs_stacked">
    {% for address in address_list %}
         <li id="user_id_{{address.from_user}}" class="{% if address.user == target_user%} active {% endif %}">
            <a href="/feedback/show/?usr={{address.from_user}}">
                <span class="badge">{{address.message_count}}</span>
                <span class="pull-center">{{ address.user.username }}</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </li>
    {% empty %}
        <center><h6>Отзывов еще не было.</h6>
    {% endfor %}
    </ul>
</div>


<div class="col-md-8">
    <div class="feedback_chat_container">
    {% if not feedback_notes %}
        <center><h4>Когда-нибудь все будет работать, как должно.</h4></center>
    {% else %}
        <div class="feedback_form_container_for_creator">
            {% include "feedback_form_for_creator.html" %}
        </div>
        <div class="feedback_chat_container_creator">
            <table id="feedback_history" class="table chat_list">
                {% for note in feedback_notes %}
                <tr class="{% if not note.has_been_read %}info{% endif %}" >
                    <td>
                        <div style="font-weight:bold!important">
                            <div class="pull-left">{{ note.from_user }}</div>
                            <div class="pull-right">{{ note.feedback_date|date:"d.m.Y"}}</div>
                            <br>
                            <div class="pull-right">{{ note.feedback_date|date:"h:i:s"}}</div>
                        </div>
                        <br>
                        <div>
                            {{ note.feedback_body | linebreaksbr}}
                        </div>
                    </td>
                </tr>

                {% endfor %}

            </table>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}