{% extends 'drive_main.html' %}
{% block drive_list %}

{% if username and user_department == None %}

Товарищ, {{ username }}!<br>
Спасибо тебе за регистрацию, теперь укажи,в каком отделе ты работаешь.<br>
Честное слово, лучше указть верно, если ошибешься, развозки тебе никогда не видать.
<form action="/drive/" method="post">
    Я работаю в
    <select name="department">
        {% for department in departments %}
        <option value="{{department.id}}">{{department.name}}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="OK!">
</form>

{% else %}


<div class="container">
        <div class="page-header">
            <h1>Развозка на {{ date }}</h1>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Подразделение:
                </th>
                <th>
                    Оператор:
                </th>
                <th>
                    Район:
                </th>
                <th>
                    Адрес:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for note in registered_notes %}
            <tr>
                <td>
                    {{ note.department }}
                </td>
                <td>
                    {{ note.address.operator }}
                </td>
                <td>
                    {{ note.address.area.name }}
                </td>
                <td>
                    {{ note.address.address }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}


    {% endblock %}