{%extends 'clicker_index.html' %}


{% block clicker_schema %}

<style>
    .container{
        width:95%!important;
        padding:0!important;

        height: 78vh; /* 100vh - 100% от высоты viewport(окна браузера) */
    }

    .page-header{
        margin:0!important;
    }

    .navbar {
        margin:0!important;
    }
</style>

<div class="page-header">
        <h1><center>Схема диагностики</center></h1>
    </div>

<div class="schema-container wrap-container">



    <table class="table table-bordered schema-table">



    {% for level in states %}

        <tr>

        {% for state in level %}
            <td colspan="{{state.state_width}}" rowspan="{{state.cell_rowspan}}" style="text-align:center!important;">





                {% if state.position == 1 %}
                    <div style="display:inline-block; width:50%; border-right:1px solid black; height:20px;"></div><div style="  height:20px; display:inline-block; width:50%; border-top:1px solid black;"></div>
                {% else %}
                    {% if state.position == 3 %}
                        <div style="height:20px; display:inline-block; width:50%; border-top:1px solid black;"></div><div style="height:20px; display:inline-block; width:50%; border-left:1px solid black;"></div>
                    {% else %}
                        {% if state.position == 2 %}
                            <div style="height:20px; display:inline-block; width:50%; border-top:1px solid black; border-right:1px solid black;"></div><div style="height:20px; display:inline-block; width:50%; border-top:1px solid black;"></div>
                        {% else %}
                            {% if state.position == 0 %}
                                <div style="display:inline-block; width:50%; border-right:1px solid black; height:20px;"></div><div style="height:20px; display:inline-block; width:50%;"></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}




        <div class="state_item">

            <div class="item_id" style="display:none;">id = {{ state.id }}</div>
            <div class="parent_id" style="display:none;">parentid = {{ state.parent.id }} </div>


            <div class="item_title vertical-text">{{state.state_title}}</div>

            <div class="item_move vertical-text">{{state.move_title}}</div>

        </div>






                {% if state.cell_rowspan == 1 and forloop.parentloop.revcounter != 1 %}
                    <br>
                    <div class="bot_div" style="display:inline-block; width:50%; border-right:1px solid black; min-height:20px; "></div><div style="height:20px; display:inline-block; width:50%;"></div>
                {% endif %}
                </td>
        {% endfor %}
        </tr>





    {% endfor %}


        </table>

<script>
    $(".bot_div").each(function(){
        parent_height = $(this).parent().height()
        prev_div_height = $(this).prev().height()
        prev_prev_div_height = $(this).prev().prev().height()
        $(this).height(parent_height-prev_div_height-prev_prev_div_height-20);
    })
</script>
    </div>

{% endblock %}


{% block schema_script %}

{% endblock %}




