{%extends 'clicker_container.html' %}
<!--- {% load staticfiles %} --->

{% block user_global_notes %}
    <button type="button" id="open_global_user_notes_button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-chevron-right"></span></button>
    <button type="button" id="close_global_user_notes_button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span></button>
<div id="user_global_notes_form_container">
    <center><h4 style="margin-top:0;">Общие заметки</h4></center>
    <textarea class="form-control" id="global_usernotes_form">

    </textarea>
    <button class="form-control btn btn-primary" id="save_global_usernote_changes">Сохранить</button>

    <div id="global_note_saved_error" class="alert alert-danger alert-dismissable" style="height:100px; width:93.2%; position:absolute; bottom:39px; left:13px; display:none;">
        <center><strong><h3>Ошибка!</h3></strong></center>
    </div>
    <div id="global_note_saved_ok" class="alert alert-success alert-dismissable" style="height:100px; width:93.2%; position:absolute; bottom:39px; left:13px; display:none;">
        <center><strong><h3>Сохранено</h3></strong></center>
    </div>

    <script>
        $('#global_usernotes_form').height($('#state_usernotes_form').parent().height()-90);
    </script>
</div>
{% endblock %}

<!------------------------------------------->

{% block state_user_notes %}
    <button type="button" id="open_state_user_notes_button" class="btn btn-primary  btn-sm"><span class="glyphicon glyphicon-chevron-right"></span></button>
    <button type="button" id="close_state_user_notes_button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span></button>
<div id="user_state_notes_form_container">
    <center><h4 style="margin-top:0;">Заметки шага</h4></center>
    <textarea class="form-control" id="state_usernotes_form">

    </textarea>
    <button class="form-control btn btn-primary" id="save_state_usernote_changes">Сохранить</button>

    <div id="state_note_saved_error" class="alert alert-danger alert-dismissable" style="height:100px; width:93.2%; position:absolute; bottom:39px; left:13px; display:none;">
        <center><strong><h3>Ошибка!</h3></strong></center>
    </div>
    <div id="state_note_saved_ok" class="alert alert-success alert-dismissable" style="height:100px; width:93.2%; position:absolute; bottom:39px; left:13px; display:none;">
        <center><strong><h3>Сохранено</h3></strong></center>
    </div>

    <script>
        $('#state_usernotes_form').height($('#state_usernotes_form').parent().height()-90);
    </script>


    {% for state_usernote in state_usernotes %}
        <div style="display:none" id="state_usernote_{{state_usernote.state_id}}">{{state_usernote.note_body}}</div>
    {% endfor %}
</div>
{% endblock %}


{% block file_manager %}
<!---
<div class="wrap-file-manager">
    <ul>
        <li>
            <div id="file_manager">
                {% for state in states %}
                {{ state.pre_tags|safe}}
                <div class="Expand"></div>
                <input type="checkbox" disabled>
                <div class="Content b-list-item" id="tree_{{ state.id }}">{{ state.state_title }}</div>
                {{ state.post_tags|safe}}
                {% endfor %}
            </div>

        </li>
    </ul>
</div>
--->
{% endblock%}


{%block state_move %}

{%for state in states %}

{% if state.id == 1 %}
<div class="move_title_elem visible" id="title_{{state.id}}">
    <div class="move_title">
        {{ state.move_title }}
    </div>
    <div class="question" id="question_state_id_{{state.id}}">
        <img src="{% static '/static/static/templates/question.png' %}" class="img">
    </div>
</div>
{% else %}
<div class="move_title_elem not_visible" id="title_{{state.id}}">
    <div class="move_title">
        {{ state.move_title }}
    </div>
    <div class="question" id="question_state_id_{{state.id}}">
        <img src="{% static '/static/static/templates/question.png' %}" class="img">
    </div>
</div>
{% endif %}
{%endfor%}

{% endblock %}


{% block state_variants %}

<ul class="b-list">

    {% for state in states %}

    {% if state.parent_id == 1 %}

        {% if state.add_title_to_comment %}
             <li class="b-list-item visible parent_state_id_{{state.parent_id}} important_title" id="variant_{{state.id}}">
        {% else %}
             <li class="b-list-item visible parent_state_id_{{state.parent_id}}" id="variant_{{state.id}}">
        {% endif %}
        <div class="variant">
            <hr>

            <div class="not_visible hidden_comment">{{state.hidden_comment}}</div>

            <div class="var-name">{{state.state_title}}</div>

            <div class="var-description">{{state.variant_description|safe}}</div>
            <hr>
            <div class="var-description">
                {% for txtInp in text_inputs %}
                {% if txtInp.state_input_id_id == state.id %}
                <div class="text" id="input_{{ txtInp.id }}">
                    <span class="pre_text">{{txtInp.text_input_title|safe}}</span>
                    <input type="text" class="form-control input-cable"
                           style="width:{{txtInp.text_input_max_width|safe}}px;">
                    <span class="post_text">{{txtInp.text_input_after|safe}}</span>
                </div>
                <hr>
                {% endif %}
                {% endfor %}


                {% for checkInp in checkbox_inputs %}
                {% if checkInp.state_input_id_id == state.id %}
                <div class="checkbox" id="input_{{ checkInp.id }}">
                    <label><input type="checkbox" value="{{checkInp.checkbox_input_title}}">{{checkInp.checkbox_input_title}}</label>
                </div>
                <hr>
                {% endif %}
                {% endfor %}


                {% for radInp in radio_inputs %}
                {% if radInp.state_input_id_id == state.id %}
                <div class="radio" id="input_{{ radInp.id }}">
                    <span class="radio_title">
                        {{ radInp.radio_input_title }}
                    </span>
                    <br>
                    {% for radInpVar in radio_input_variants %}
                    {% if radInp.id == radInpVar.radio_input_id_id %}
                    <label>
                        <input type="radio" name="radio_input_{{radInp.id}}" id="radio_input_var_{{radInpVar.id}}" vaue="{{radInpVar.radio_input_variant_title|safe}}" checked>
                        <span class="radio_value">
                            {{radInpVar.radio_input_variant_title|safe}}
                        </span>
                    </label>
                    <br>
                    {% endif %}

                    {% endfor %}
                </div>
                <hr>
                {% endif %}
                {% endfor %}


            </div>
        </div>
    </li>

    {% else %}

        {% if state.add_title_to_comment %}
             <li class="b-list-item not_visible parent_state_id_{{state.parent_id}} important_title" id="variant_{{state.id}}">
        {% else %}
             <li class="b-list-item not_visible parent_state_id_{{state.parent_id}}" id="variant_{{state.id}}">
        {% endif %}


        <div class="variant">
            <hr>

            <div class="not_visible hidden_comment">{{state.hidden_comment}}</div>

            <div class="var-name">{{state.state_title}}</div>
            <hr>
            <div class="var-description">

                {% for txtInp in text_inputs %}

                {% if txtInp.state_input_id_id == state.id %}
                <div class="text" id="input_{{ txtInp.id }}">
                     <span class="pre_text">{{txtInp.text_input_title|safe}}</span>
                    <input type="text" class="form-control input-cable"
                           style="width:{{txtInp.text_input_max_width|safe}}px;">
                    <span class="post_text">{{txtInp.text_input_after|safe}}</span>
                </div>
                <hr>
                {% endif %}

                {% endfor %}


                {% for checkInp in checkbox_inputs %}

                {% if checkInp.state_input_id_id == state.id %}

                <div class="checkbox" id="input_{{ checkInp.id|safe }}">
                    <label>
                        <input type="checkbox" value="{{checkInp.checkbox_input_title|safe}}">{{checkInp.checkbox_input_title|safe}}
                    </label>
                </div>
                <hr>
                {% endif %}
                {% endfor %}



                {% for radInp in radio_inputs %}

                {% if radInp.state_input_id_id == state.id %}

                <div class="radio" id="input_{{ radInp.id }}">

                    <span class="radio_title">
                    {{ radInp.radio_input_title|safe }}:
                    </span><br>

                    {% for radInpVar in radio_input_variants %}

                    {% if radInp.id == radInpVar.radio_input_id_id %}

                    <label>
                        <input type="radio" name="radio_input_{{radInp.id}}" id="radio_input_var_{{radInpVar.id}}" vaue="{{radInpVar.radio_input_variant_title|safe}}" checked>
                        <span class="radio_value">
                            {{radInpVar.radio_input_variant_title|safe}}
                        </span>
                    </label>
                    <br>

                    {% endif %}

                    {% endfor %}

                </div>
                <hr>

                {% endif %}

                {% endfor %}

            </div>
        </div>
    </li>

    {% endif %}

    {% endfor %}






    <li class="not_visible diag_result" id="diag_result">

        <div class="variant">
            <div class="var-name">Результат диагностики:</div>
            <hr>
            <div class="var-description">



            </div>

        </div>
    </li>

</ul>

{% endblock %}


{% block tips %}


<div class="commentsContainer">

    {% for tip in tips %}

    {% if tip.state_id_id == 1 %}

    <div class="tip visible" id="tip_parent_{{tip.state_id_id}}">
        <div class="slider-header">
            {{ tip.tip_title|safe }}
        </div>
        <div class="slider-content">
                {{ tip.tip_description|safe }}
        </div>
    </div>

    {% else %}

    <div class="tip not_visible" id="tip_parent_{{tip.state_id_id}}">
        <div class="slider-header">
            {{ tip.tip_title|safe }}
        </div>
        <div class="slider-content">
                {{ tip.tip_description|safe }}
        </div>
    </div>

    {% endif %}

    {% endfor %}

</div>


{% endblock %}


{% block move_description %}

{% for state in states %}

<div class="move_description not_visible" id="state_id_{{state.id}}">
    <div class="move_description_whitespace"></div>
    <div class="move_description_title">Описание действия</div> <div class="close_move_descriprion">Закрыть</div>
    <div class="mode_description_content">
        {{ state.move_description|safe }}
    </div>
</div>

{% endfor %}


{% endblock %}