{%extends 'clicker_index.html' %}
{% load staticfiles %}

{% block clicker_container %}
<style>
    nav {
    margin-bottom:0!important;
    }

    .container{

    }
</style>



    <div class="row">


        <div class="col-md-12">


            <div class="section-title">
                <div class="title-container">
                    <!--- <div class="title-menu-elem"><a href="http://karimov-nn" target="_blank">Информационный портал</a>
                          </div>
                          <div class="title-menu-elem"><a href="#" target="_blank">Ссылка номер два</a></div>
                          <div class="title-menu-elem"><a href="#">Оставить отзыв создателю</a></div>
                          <div class="title-menu-whitespace"></div>   ---->
                </div>
            </div>

            <div class="section-state-user-notes">
                {% block state_user_notes %}{% endblock %}
            </div>

            <div class="section-user-global-notes">
                {% block user_global_notes %}{% endblock %}
            </div>

            <div class="section-move-description">
                {% block move_description %}{% endblock %}
            </div>

            <div class="section-file-manager">

                {% block file_manager %}
                {% endblock %}

            </div>

            <div class="section-tips not_visible">
                <div class="section_tips_whitespace"></div>
                <div class="section_tips_title">Подсказки</div>
                <div class="close_tips">
                    Закрыть
                </div>
                {% block tips %}{% endblock %}

            </div>

            <div class="section-variants">

                <div class="section-variants-title">
                    {% block state_move %}{% endblock %}
                </div>

                <div class="wrap-variants b-init b-target">
                    {% block state_variants %}{% endblock %}
                </div>

                <div class="variant_navigation">

                    <div class="start_again">
                        <a onclick="return false"><img src="{% static '/static/static/templates/warning.png' %}"
                                                       class="img"></a>
                    </div>

                    <div class="go_prev_state">
                        <img src="{% static '/static/static/templates/arrow_left.png' %}" class="img">
                    </div>

                    <div class="submit-buttons">
                        <div class="btn btn-primary confirm-button disabled">OK!</div>
                        <button id="again" class="btn btn-primary not_visible">Заново</button>
                    </div>


                    <div class="go_next_state">
                        <img src="{% static '/static/static/templates/arrow_right.png' %}" class="img">
                    </div>

                    <div class="show_tips">
                        <img src="{% static '/static/static/templates/look.png' %}" class="img">
                    </div>

                </div>


            </div>

            <div class="section-results">
                <div class="splitter">

                </div>
                <div class="form-group">
            <textarea class="form-control section-results-txt" rows="3" id="comment"
                      placeholder="Текст комментария"></textarea>
                </div>

            </div>


            <!---- <button id="reinitializeStates">Обновить базу состояний</button> --->

        </div>


    </div>
    <div class="col-md-1">
    </div>


{% endblock %}