{% extends 'testing_index.html' %}

{% block test_list %}

<div class="page-header">
        <h1><center>Тестирование</center></h1>
    </div>

    <div class="row">


        <div class="col-md-1"></div>

        <div class="col-md-10">


            <table class="table table-hover">

                <tr>
                    <td>
                        <h3>Вводное тестирование <small>10 вопросов</small></h3><br>
                        Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.
                        <h4>Проходной балл: 60%</h4>
                        <h4>Текущий результат: 60%</h4>
                        <h4>Попыток: 2 / 5</h4>
                        <h4>Вердикт: Незачет</h4>
                    </td>
                    <td style="vertical-align:middle!important;">
                        <a href="#">Начать!</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Тестирование IPTV  <small>10 вопросов</small></h3><br>
                        Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.Тест на знание основ и прочих шляп, для самого днища и лохов.
                        <h4>Проходной балл: 80%</h4>
                        <h4>Текущий результат: 60%</h4>
                        <h4>Попыток: 2 / 5</h4>
                        <h4>Вердикт: Незачет</h4>
                    </td>
                    <td style="vertical-align:middle!important;">
                        <a href="#">Начать!</a>
                    </td>
                </tr>
            </table>



        </div>

    </div>

{% endblock %}