<!--- {% load staticfiles %} --->
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{% static 'static/templates/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/templates/style.css' %}">
    <link rel="stylesheet" type="text/css" href='{% static "static/templates/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "static/templates/fileManager/grid.css" %}'>

    <title>Интерактивная диагностика</title>

</head>
<body>
<div class="container main-container">
        <table class="main-table">

            <tr>
                <td colspan="2" class="section-title">
                    <div>
                        Диагностика v0.1
                    </div>
                </td>
                <td></td>
            </tr>

            <tr>

                <td rowspan="4" class="section-file-manager">

                    {% block file_manager %}
                    {% endblock %}

                </td>

                <td class="section-variants">

                    <div class="section-variants-title">
                        {% block state_move %}{% endblock %}
                    </div>

                    <div class="wrap-variants b-init b-target">
                        {% block state_variants %}{% endblock %}
                    </div>

                    <div class="go_prev_state">
                        <img src="{% static '/static/static/templates/arrow_right.png' %}" class="img">
                    </div>
                    <div class="btn btn-primary confirm-button">OK!</div>
                    <button id="again" class="not_visible">Заново</button>
                    <div class="go_next_state">
                        <img src="{% static '/static/static/templates/arrow_right.png' %}" class="img">
                    </div>

                </td>

                <td rowspan="3" class="section-move-description">
                    {% block move_description %}{% endblock %}
                </td>

            </tr>

            <tr>

                <td class="section-results">

                    <div class="form-group">
                        <textarea class="form-control section-results-txt" rows="3" id="comment" placeholder="Текст комментария"></textarea>
                    </div>

                </td>

            </tr>

            <tr>

                <td class="section-tips">

                    {% block tips %}{% endblock %}

                </td>

            </tr>

        </table>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='{% static "static/templates/jquery.min.js" %}'></script>
<script src='{% static "static/templates/bootstrap/js/bootstrap.min.js" %}'></script>
<script src='{% static "static/templates/functions.js" %}'></script>
</body>
</html>