html body {
	padding:0!important;
	margin:0!important;
	height:100%;
}

hr{

	margin-top:2px!important;
	margin-bottom:2px!important;
	margin-left:15px;
	margin-right:15px;
}

.checkbox{
	margin-top:0!important;
	margin-bottom:0!important;
}

.radio{
	margin-top:0!important;
	margin-bottom:0!important;
}

.input-cable{
	display:inline!important;
	padding-left:4px!important;
	padding-right:4px!important;
	height:25px!important;
}

.b-list-item_active {
	box-shadow: 0px 0px 15px red;
	border:1px solid red!important;
}

.section-variants .wrap-variants .b-list .b-list-item{
    display:inline-table;
}

.section-variants .wrap-variants .b-list .b-list-item .variant{
    display:table-cell;
    vertical-align:middle;
}

.var-description{
    text-align:center;
}

.main_container_big{
width:1600px!important;
padding:0!important;
margin:0!important;
}

.main-container{
    position:absolute;
    left:2px;
    top:2px;
    padding:0!important;
margin:0!important;
}

.main-table{
    display:inline-table;
    border-collapse:separate;
}



.confirm-button{
	padding:17px!important;
	margin:10px!important;
	width:150px;
	font-size:25px!important;
    //background-color:#aaa!important;
    border:2px solid #888!important;
}

.section-title{
    width:882px!important;
}

.title-container{
    width:882px!important;
    height:70px;
    padding:8px;
    margin-top:10px;
    background:url('/static/static/templates/head.png') no-repeat;
    text-align:left;
    display:table;


}

.title-menu-elem{
	font-size:12px;
	vertical-align:bottom;
	text-align:center;
	display:table-cell;
	height:100%;
    width:20%;
    color:white;
}

.title-menu-elem a{
    color:white;
}

.title-menu-elem a:hover{
    color:white!important;
    font-size:13px;
}

.title-menu-elem a:active{
    font-size:12px!important;
}

.title-menu-elem a:visited{
    color:white!important;
}


.section-title .title-menu-whitespace{
	font-size:10px;
	vertical-align:bottom;
	display:table-cell;
	height:100%;
	vertical-align:bottom;
	width:40%;
}

.section-file-manager{
display:none;
	vertical-align:top;
	text-align:left;
	background-color:#eee;
	width:260px;
    border-left:2px solid #aaa;
    border-bottom:2px solid #aaa;
    border-right:2px solid #ddd;
    border-top:1px solid #aaa;
}

.section-variants{
	padding-left:22px;
	padding-right:22px;
	width:882px;
	min-height:540px!important;
	vertical-align:top;
	text-align:center;
	border-top:1px solid #aaa;
	border-right:2px solid #aaa;
	border-left:2px solid #aaa;
	background-color:#eee;
}

.section-variants-title{
	text-align:center;
	font-size:25px;
	padding:7px;
	border:1px solid #aaa;
	margin:10px;
	background-color:white;
	vertical-align: middle;
	border-radius:10px;
}

.section-move-description{
    vertical-align:top;
    display:block;
    position:absolute;
    width:882px;
    opacity:0.92;
    z-index:1000;
}

.section-results{
width:882px;
	border-right:2px solid #aaa;
	border-left:2px solid #aaa;
	border-bottom:2px solid #aaa;
	background-color:#eee;
}

.splitter{
    width:100%;
    height:13px;
    margin-bottom:15px;
    background:url('/static/static/templates/head.png') no-repeat;
}


.section-results-txt{
	resize: none;
}

.form-group{
    width:auto;
	margin-left:13px;
	margin-right:13px;
	margin-bottom:13px!important;
	}

.section-tips{
    vertical-align:top;
    display:block;
    position:absolute;
    width:882px;
    opacity:0.92;
    display:inline-block;
    border:2px solid #aaa;
    min-height:645px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 10px;
	background-color:#eee;
	text-align:center;
	z-index:1000;

}

.disabled{
    opacity:1!important;
    background-color:grey!important;
}

.section_tips_whitespace{
    display:inline-block;
    width:20%;
}

.section_tips_title{
    width:54%;
    display:inline-block;
    font-size:25px;
}

.close_tips{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
    display:inline-block;
    width:20%;
    border: 2px solid #555;
    cursor:pointer;
    background-color:#007fc4;
    color:white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.close_tips:hover{

    text-shadow: 1px 1px 3px black, 0 0 1em blue;
    background-color:#ddd;

}

.close_tips:active{
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    background-color:#bbb;
}


.section-user-global-notes{
    position:absolute;
    left:895px;
    top:415px;
    width:380px;
    height:336px!important;
}

#user_global_notes_form_container{
    padding:12px;
    width:380px;
    height:336px!important;
    vertical-align:top;
	text-align:center;
	border-top:1px solid #aaa;
	border-bottom:2px solid #aaa;
	border-right:2px solid #aaa;
	border-left:2px solid #aaa;
	background-color:#eee;
	border-radius: 0 0 10px  0;

}

.section-state-user-notes{
    position:absolute;
    left:895px;
    width:380px;
	height:335px!important;
}

#user_state_notes_form_container{
    padding:12px;
	width:380px;
	height:335px!important;
	vertical-align:top;
	text-align:center;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	border-right:2px solid #aaa;
	border-left:2px solid #aaa;
	background-color:#eee;
	border-radius: 0 10px 0  0;
}



#state_usernotes_form{
    height: auto;
    resize:none;
    box-sizing: border-box;
    margin-bottom:10px;
}

#global_usernotes_form{
    height: auto;
    resize:none;
    box-sizing: border-box;
    margin-bottom:10px;
}


/*Горизонтальный скроллер вариантов*/
.wrap-variants {
	width: 100%;
	height: 370px;
}

.wrap-variants ul {
	min-width: 100%;
	padding: 0;
	
}
.wrap-variants li {
	display:inline-block;
	vertical-align:top;
	width:190px;
	height:180px;
	margin-left:7px;
	margin-right:7px;
	margin-bottom:7px;
	border:3px solid #337ab7;
	background:#fefefe;
	border-radius:4px;
    //border-image: linear-gradient(to bottom, #4a6ef5, #3a4ed5);
	//background: linear-gradient(to bottom,#93ffff, #6ad7ff);
	border-image-slice: 1;

	cursor: pointer;
}

/*Вертикально-горизонтальный скроллер файл-менеджера*/
.wrap-file-manager {
	width:260px;
	overflow-x: auto;
	overflow-y: auto;
}
.wrap-file-manager ul {
	min-width: 100%;
	white-space: nowrap;
	padding: 0;
	
}
.wrap-file-manager li {
	margin-top:3px;
}


/*теги вариантов*/
.variant{
    display:inline-block;
	margin:3px;
	white-space: normal;
	text-align:left;
	vertical-align:middle;
}

.var-name{
	font-size:20px;
	text-align:center;
	text-shadow:1px 1px 1px grey;
}

/*Раскрывающийся список подсказок*/
#slider {
 width: 720px;
 color: #66666;
 }

.slider-header {
    margin-left: 20px;
    margin-right: 20px;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	padding: 5px;
	margin-top: 5px;
	padding-left:10px;
	padding-right:10px;
	text-align: left;
	font-size: 20px;
	background:linear-gradient(to top, #01B6ED, #007fc4);
 }

.slider-content {
    margin-left: 20px;
    margin-right: 20px;
    padding:10px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background: #fff;
	text-align:left;
 }

 .slider-content img{
 max-width:100%;
 }

.slider-text {
	width: 720px;
	border: 1px solid #cccccc;
	border-top: none;
	padding: 4px;
	text-align: left;
 }

/*Значек подсказки для текущего действия*/
 .question{
    display: table-cell;
    width: 15%;
    margin-right:20px;
    border: 0;
    height:77px;
    text-align:center;
    vertical-align:middle;
 }

.question img:hover{
    width: 72px;
 }

.question img:active{
    width: 71px;
 }

 .question img{
    width: 70px;
    box-sizing: border-box;
    vertical-align:bottom;
    cursor: pointer;
 }

 .not_visible{
    display:none!important;
 }


.move_description{
    display:inline-block;
    border:2px solid #aaa;
    width:100%;
    min-height:645px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 10px;

	background-color:#eee;
	text-align:center;
}

.move_description_whitespace{
    width:20%;
    display:inline-block;
}
.move_description_title{
    display:inline-block;
    width:54%;
    font-size:25px;
}

.close_move_descriprion{
    width:20%;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
    display:inline-block;
    border: 2px solid #555;
    cursor:pointer;
    background-color:#007fc4;

    color:white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.close_move_descriprion:hover{

    text-shadow: 1px 1px 3px black, 0 0 1em blue;
    background-color:#ddd;

}

.close_move_descriprion:active{


    text-shadow: 1px 1px 2px black, 0 0 1em white;
    background-color:#bbb;
}


.move_title{
    width:80%;
    display:table-cell;
    vertical-align:top;
}

.move_title_elem{
    display:table;
    width:100%;
}

.used_tree_elem{
    border:1px solid #bbb;
    background-color:#bbb;
    color:#fff!important;
    border-radius:0 8px 8px 0;
}

.variant_navigation{
    display:table;
    width:100%;
}

.go_prev_state{
    margin-right:100px;
    display:table-cell;
    width:20%;
    text-align:right;
    padding-right:25px;
}

.go_next_state{
    display:table-cell;
    width:25%;
    text-align:left;
    padding-left:25px;

}

.go_next_state img{
    display:none;

}

 .go_prev_state img, .go_next_state img{
    height: 50px;
    cursor: pointer;

 }

  .go_prev_state img:hover, .go_next_state img:hover{
    height:52px;

 }

 .go_prev_state img{

 }


.go_prev_state img:active, .go_next_state img:active{
    height: 51px;
 }

 .tree_cursor{
    border:1px solid #bbb;
    background-color:red;
    color:#fff!important;
    border-radius:0 8px 8px 0;
}

.diag_result{
    width:97%!important;
    padding-left:30px;
    padding-right:30px;
}

.diag_result .variant{
    width:97%;
}

.diag_result .var-description{
    display:block;
    width:100%;
    text-align:left!important;
}

.mode_description_content{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    padding:10px;
    min-height:520px;
    border:1px solid #888;
    background-color:#fff;
    border-radius: 5px;
    font-size:17px;
    text-align:left;
}

.mode_description_content img{
    max-width:335px;
    //margin-left:-19px;
}

#again{
    width:150px;
    padding:17px;
    margin:10px;
    font-size:25px;
}

.show_tips{
    display:table-cell;
    width:15%;
    text-align:center;
    vertical-align:middle;
}

.show_tips img:hover{
    width: 72px;
 }

.show_tips img:active{
    width: 71px;
}

 .show_tips img{
    width: 70px;
    box-sizing: border-box;
    vertical-align:bottom;
    cursor: pointer;
}

.start_again{
display:table-cell;
    width:20%;
    text-align:center;
    vertical-align:middle;
}

.start_again img:hover{
    width: 72px;
}

.start_again img:active{
   width: 71px;
}

.start_again img{
   width: 70px;
   box-sizing: border-box;
   vertical-align:bottom;
   cursor: pointer;
}








.schema-table{
    padding:0!important;
    margin:0!important;
    //border-collapse:separate !important;
    //border-spacing: 1px;
    border-width:0!important;
    padding:0!important;
    margin:0!important;
}

.schema-table > tbody > tr > td{
    padding:0!important;
    margin:0!important;
    border-width:0!important;
    line-height:0!important;
}

.schema-table > tbody > tr > td > div{
line-height: 1.42857143;
}


.wrap-container {
	overflow-x: auto;
	overflow-y: auto;
}

.schema-container{

}

.schema-container table {
	min-width: 100%;
	padding:0!important;
    margin:0!important;
	border-width:0!important;

}

/*теги вариантов*/
.variant{
    display:inline-block;
	margin:3px;
	white-space: normal;
	text-align:left;
	vertical-align:middle;
}

.state_item{
   display:inline-block;
   text-align:center;
   min-width:80px;
   max-width:130px;
}


.item_id{
   display:none;
}

.parent_id{
   display:none;
}

.item_title{
   border:1px solid black;
   padding:5px;
   display:run-in;
   width:100%;
}

.item_move{
   border:1px solid black;
   padding:5px;
   display:run-in;
   height:100%;
}





.item_news_form {
    max-height:100px;
}


.feedback_count_message{
    position:absolute;
    right:2px;
    top:2px;
    font-size:10px;
    line-height: normal;
    color: white;
    background-color: #337ab7;
    display:table-cell;
    border:1px solid #2e6da4;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    width:16px;
    height:16px;
}






.nav_tabs_stacked{

    border-top: 1px solid #ddd!important;
}

.nav_tabs_stacked > li > a{
    border-radius: 0 4px 4px 0!important;
}


.nav_tabs_stacked > li.active > a{
    border-radius: 0 4px 4px 0!important;
    border-bottom: 1px solid #ddd!important;
}


.feedback_form_messages{
    height:145px;
    position:absolute;
    top:64px;
    width:92.3%;
    opacity:0.99;
    text-align:center;
    padding-top:10%!important;
    padding-bottom:10%!important;
    padding-left:15px!important;
    padding-right:15px!important;
    border:1px solid #a94442!important;
    display:none;
}


.feedback_creator_form_messages{
    height:87px;
    position:absolute;
    top:0;
    width:78.5%;
    opacity:0.90;
    text-align:center;
    padding-left:15px!important;
    padding-right:15px!important;
    border:1px solid #a94442!important;
    //display:none;
}

.news_list > tbody > tr > td{
    word-wrap:break-word!important;
    //word-break: break-all!important;
}

.chat_list > tbody > tr > td{
    word-wrap:break-word!important;
    word-break: break-all!important;
}

.feedback_chat_container_creator{
    overflow-y: auto;
    width: 100%;
    height: 43em;
}

.feedback_form_container_for_creator{
    padding-bottom:90px;
}

.feedback_chat_container_user{
    overflow-y: auto;
    width: 100%;
    height: 26.5em;
    
}


#close_state_user_notes_button{
    position:absolute;
    left:-33px;
    bottom:15px;
    border-right:1px solid #888!important;
    border-radius: 5px 0 0 5px !important;
}

#open_state_user_notes_button{
    position:absolute;
    left:1px;
    bottom:15px;
    border-left:1px solid #888!important;
    border-radius: 0 5px 5px 0 !important;
    display:none;
}

#close_global_user_notes_button{
    position:absolute;
    left:-33px;
    top:15px;
    border-right:1px solid #888!important;
    border-radius: 5px 0 0 5px !important;
}

#open_global_user_notes_button{
    position:absolute;
    left:1px;
    top:15px;
    border-left:1px solid #888!important;
    border-radius:0 5px 5px 0!important;
    display:none;
}








.navbar-header{
//display:none!important;
}



.diamond {
    width: 120px;
    height: 120px;
    background: #1eff00;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}