body {
	padding:0!important;
	margin:0!important;
}

hr{
	
	margin-top:2px!important;
	margin-bottom:2px!important;
	margin-left:15px;
	margin-right:15px;
}

.checkbox{
	margin-top:0!important;
	margin-bottom:0!important;
}

.radio{
	margin-top:0!important;
	margin-bottom:0!important;
}

.input-cable{
	display:inline!important;
	padding-left:4px!important;
	padding-right:4px!important;
	height:25px!important;
}

.b-list-item_active {
	box-shadow: 0px 0px 15px red;
	border:1px solid red!important;
}

.main_container_big{
width:1600px!important;
padding:0!important;
margin:0!important;
}

.main-container{
    position:absolute;
    left:2px;
    top:2px;
    padding:0!important;
margin:0!important;
}

.main-table{
    display:inline-table;
    border-collapse:separate;
}

.confirm-button{
	padding:17px!important;
	margin:10px!important;
	width:150px;
	font-size:25px!important;
    background-color:#aaa!important;
    border:2px solid #888!important;
}

.section-title{
	text-align:center;
	font-size:20px;
	width:1020px;
	border-bottom:1px solid #aaa;

}

.section-title div{
    width:1023px;
    padding:8px;
    background:linear-gradient(to top, #eee, #bbb);
    border-top:2px solid #aaa;
    border-left:2px solid #aaa;
    border-right:2px solid #aaa;
    margin-bottom:-6px;
    margin-left:-1px;
	border-radius:10px 10px 0px 0px;
}

.section-file-manager{
	vertical-align:top;
	text-align:left;
	background-color:#eee;
	width:260px;
    border-left:2px solid #aaa;
    border-bottom:2px solid #aaa;
    border-right:2px solid #ddd;
    border-top:1px solid #aaa;
}

.section-variants{
	padding-left:22px;
	padding-right:22px;
	width:750px;
	vertical-align:top;
	text-align:center;
	border-top:1px solid #aaa;
	border-right:2px solid #aaa;
	background-color:#eee;
}

.section-variants-title{
	text-align:center;
	font-size:25px;
	padding:7px;
	border:1px solid #aaa;
	margin:10px;
	background-color:white;
	vertical-align: middle;
	border-radius:10px;
}

.section-move-description{
    vertical-align:top;

}

.section-results{
	padding:3px;
	border-right:2px solid #aaa;
	background-color:#eee;
}

.section-results-txt{
	resize: none;
}

.form-group{
	marging:0!important;
}

.section-tips{

	background-color:#eee;
	padding-left:13px;
	padding-right:13px;
	padding-bottom:13px;
	height:250px;
	vertical-align:top;
	border-bottom:2px solid #aaa;
	border-right:2px solid #aaa;
}

/*Горизонтальный скроллер вариантов*/
.wrap-variants {
	width: 700px;
	height: auto;
	overflow-x: auto;
	overflow-y: auto;
}
.wrap-variants ul {
	min-width: 100%;
	white-space: nowrap;
	padding: 0;
	
}
.wrap-variants li {
	display:inline-block;
	vertical-align:top;
	width:200px;
	height:270px;
	margin-left:10px;
	margin-right:10px;
	border:1px solid #888;
	border-radius: 10px;
	background-color:white;
	cursor: pointer;
}

/*Вертикально-горизонтальный скроллер файл-менеджера*/
.wrap-file-manager {
	width:260px;
	overflow-x: auto;
	overflow-y: auto;
}
.wrap-file-manager ul {
	min-width: 100%;
	white-space: nowrap;
	padding: 0;
	
}
.wrap-file-manager li {
	margin-top:3px;
}


/*теги вариантов*/
.variant{
	margin:3px;
	white-space: normal;
	
	text-align:left;
}

.var-name{
	font-size:20px;
	text-align:center;
}

/*Раскрывающийся список подсказок*/
#slider {
 width: 720px;
 color: #66666;
 }

.slider-header {
	width: 720px;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-radius: 10px 10px 0 0;
	padding: 5px;
	margin-top: 5px;
	padding-left:10px;
	padding-right:10px;
	cursor: pointer;
	text-align: left;
	font-size: 20px;
	background:linear-gradient(to top, #eee, #bbb);
 }

.slider-content {
    padding:10px;
    width: 720px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background: #fff;
 }

.slider-text {
	width: 720px;
	border: 1px solid #cccccc;
	border-top: none;
	padding: 4px;
	text-align: left;
 }

/*Значек подсказки для текущего действия*/
 .question{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right:20px;
    position: relative;
    vertical-align: middle;
    transition: all 0.3s ease;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    cursor: pointer;
 }

.question:hover{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right:20px;
    position: relative;
    vertical-align: middle;
    transition: all 0.3s ease;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    cursor: pointer;
    cursor: pointer;
 }


.question:active{
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right:20px;
    position: relative;
    vertical-align: middle;
    transition: all 0.3s ease;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    cursor: pointer;
 }



 .question img{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
 }

 .not_visible{
    display:none!important;
 }


.move_description{
    display:inline-block;
    border-top:2px solid #aaa;
    border-right:2px solid #aaa;
    border-bottom:2px solid #aaa;
    width:400px;
    min-height:700px;
    padding-left:20px;
    padding-right:20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0 10px 10px 0;

	background-color:#eee;
}

.used_tree_elem{
    border:1px solid #bbb;
    background-color:#bbb;
    color:#fff!important;
    border-radius:0 8px 8px 0;
}

.go_prev_state{
display:inline;
cursor: pointer;
margin-right:100px;
}

.go_next_state{
display:inline;
cursor: pointer;
margin-left:100px;
}

 .go_prev_state img, .go_next_state img{
    max-height: 50px;
    box-sizing: border-box;

 }

  .go_prev_state img:hover, .go_next_state img:hover{
    max-height: 53px;
    box-sizing: border-box;

 }

 .go_prev_state img{
    transform: scale(-1, 1)
 }


.go_prev_state img:active, .go_next_state img:active{
    max-height: 51px;
 }

 .tree_cursor{
    border:1px solid #bbb;
    background-color:red;
    color:#fff!important;
    border-radius:0 8px 8px 0;
}

.diag_result{
    width:97%!important;
    padding-left:30px;
    padding-right:30px;
}

.mode_description_content{
    margin-top:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:10px;
    height:650px;
    border:1px solid #888;
    background-color:#fff;
    border-radius: 0 5px 5px 0;
}

#again{
    width:150px;
    padding:17px;
    margin:10px;
    font-size:25px;
    border:2px solid #888;
    border-radius:5px;
    color:white;
    background-color:#aaa!important;
}
